
body{
    background-color: #f1d1d1;
  }

  hr{
    border-style: dotted none none;
    background-color: #f1d1d1;
    width: 5%;
    border-color: grey;
    border-width:5px;
  }

h1{
  color:#1f4068;
}

h3{
  color:#6886c5
}

h3:hover{
  color: #6a097d;
}
img{
  border-radius: 80px;
  width: 80%;
  height: 70%;
}

.text-intro{
  width: 60%;
  height: 90%;
}
